<div class="h-full">
    <div class="grid grid-cols-3 gap-2 place-items-center h-1/4">
        <div>
            Task
        </div>
        <div>
            Status
        </div>
        <div>
            Actions
        </div>
    </div>
    <ul class="flex flex-col justify-start items-center rounded-lg h-3/4 max-h-3/4 text-lg overflow-y-scroll">
        <li *ngFor="let todo of filteredTodos$ | async" class=" min-w-full
                    pt-2  block mt-2 no-underline transition-all rounded-lg 
                    border-b-2 border-gray-300 
                    ">
            <app-todo-item [todo]="todo"></app-todo-item>
        </li>
    </ul>
</div>