<div class="grid grid-cols-3 gap-2 place-items-center ">
    <div>
        task
    </div>
    <div>
        Status
    </div>
    <div>
        Actions
    </div>
</div>
<ul class="list-reset flex flex-col justify-center items-center rounded-lg  text-lg">
    <li *ngFor="let item of [{text:'coucou'},{text:'salut'},{text:'bonjour'}]"
        class="
                pt-2  block mt-2 no-underline transition-all rounded-lg w-full
                border-b-2 border-gray-300 
                ">
                <app-todo-item></app-todo-item>
    </li>
</ul>