<form class="flex my-6">
    <input name="task" type="text" autocomplete="text" placeholder="Ex : Take the dog out" required="" value="" 
    class="
            px-4 py-2 rounded-l-lg bg-slate-200 focus:bg-slate-300 focus:text-slate-700 text-slate-800
            placeholder-slate-500 focus:ring-0 focus:outline-none"
    >
    <button type="submit"
            class="px-4 py-2 text-sm text-white font-bold uppercase bg-[#8c6fb7] rounded-r-lg active:bg-[#6b548e]">
        New task
    </button>
</form>