<div class="grid lg:grid-cols-4 grid-cols-2 gap-1 w-full justify-items-center text-slate-100 ">
    <button class="rounded-lg bg-[#8c6fb7] active:bg-[#6b548e] p-1 min-w-[10%] w-5/6 uppercase font-bold" (click)="filterByState('All')">All</button>
    <button class="rounded-lg bg-red-500 active:bg-red-600 p-1 min-w-[10%] w-5/6 uppercase font-bold" (click)="filterByState('Not started')">Not started</button>
    <button class="rounded-lg bg-orange-500 active:bg-orange-600 p-1 min-w-[10%] w-5/6 uppercase font-bold" (click)="filterByState('In progress')">In progress</button>
    <button class="rounded-lg bg-green-500 active:bg-green-600 p-1 min-w-[10%] w-5/6 uppercase font-bold" (click)="filterByState('Finished')">Finished</button>
</div>